<footer>

  <div class="wrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p>Copyright 20xx - <a href="http://www.Html5xCss3.com" target="_blank" rel="nofollow">Bootstrap Themes</a> Designed by <a href="http://www.Html5xCss3.com" target="_blank" rel="nofollow">Html5xCss3</a></p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline social-link">
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-inline quicklinks">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
