<!-- JS -->
<!-- <script src="{{ site.baseurl }}/resources/js/lightbox-plus-jquery.min.js"></script> -->
<!-- <script src="{{ site.baseurl }}/resources/js/plugin.js"></script> -->
<!-- <script src="{{ site.baseurl }}/resources/js/main.js"></script> -->

<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script> -->

<!-- carousel -->
<!-- <script src="{{ site.baseurl }}/resources/owl-carousel/owl.carousel.js"></script> -->

<script src="{{ site.baseurl }}/assets/js/creative.js"></script>

<script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>


<script id="dsq-count-scr" src="//chrisy.disqus.com/count.js" async></script>


<script>
  $(document).ready(function() {
    var b2_box = $("#owl-slide");

    b2_box.owlCarousel({
      autoPlay: false,
      items: 1,
      itemsDesktop: [1199, 1],
      itemsDesktopSmall: [979, 1],
      itemsTablet: [768, 1],
      itemsMobile: [479, 1],
      pagination: false
    });

    // Custom Navigation Events 1
    $(".next-b_2-slide").click(function() {
      b2_box.trigger('owl.next');
    });
    $(".prev-b_2-slide").click(function() {
      b2_box.trigger('owl.prev');
    });

  });
</script>
